* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #03202e;
  font-family: "Roboto", sans-serif;
  color: #fff;
}

.grid {
  padding: 2rem 0.6rem;
}

.go-back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  font-size: 0.7rem;
}

.profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.profile__header {
  font-size: 2rem;
}

.profile__wrapper {
  background-color: #006797;
  height: 2.2rem;
  width: 2.2rem;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.profile__wrapper > img {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

.password-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1.5em;
}

.password-container .text {
  -ms-flex-item-align: start;
      align-self: flex-start;
  color: rgba(255, 255, 255, 0.445);
  text-transform: uppercase;
  font-size: 0.8rem;
  margin-bottom: 0.5em;
  letter-spacing: 0.15rem;
}

.password-container .generated-password-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 4.5rem;
  font-size: 1.5rem;
  border-radius: 3px;
  background-color: #1d3844;
  overflow: hidden;
}

.length {
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.445);
  text-transform: uppercase;
}

.length-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  background-color: #1d3844;
  width: 100%;
  height: 3rem;
  font-size: 1.1rem;
  border-radius: 3px;
  margin: 0.6rem 0;
}

.toggle {
  width: 37px;
  height: 20px;
  background-color: #171e22;
  border-radius: 30px;
  margin-bottom: 25px;
  position: relative;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}

.toggle__circle {
  width: 13px;
  height: 13px;
  background-color: #B0BEC5;
  position: absolute;
  top: 3px;
  left: 3px;
  border-radius: 50%;
  -webkit-transition: all 100ms ease;
  transition: all 100ms ease;
}

.enabled {
  background-color: #fff;
  left: 20px;
}

.container__enabled {
  background-color: #03A9F4;
}
/*# sourceMappingURL=main.css.map */