/* 
Table of Contents
    0. Settings
    
*/

/***********************************
                Settings 
************************************/

body,html {
    background-color: var(--background);
    box-sizing: border-box;
}

body  {
    color: white;
    padding: 4%;
}

:root {
    /* Colors */
    --background: #1b1c2e;
    --white: #fff;
}

.generated-password {
    color: red;
}